@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

.brand {
  display: flex;
  background-color: #f5f1fa;
  padding: 50px 150px;
}

.brand h2,
p {
  color: #67418a;
}

.content-section {
  flex: 2;
  padding: 20px;
}

.content-section p {
  margin-bottom: 10px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.image-section img {
  max-width: 275px;
  height: auto;
  border-radius: 50%;
}

.vision {
  background-color: #e8dcf5;
  padding: 50px;
  text-align: center;
}

.vision h2 {
  color: #67418a;
}

.vision p {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #bb7b1b;
}

.team {
  background-color: #e8dcf5;
  padding: 50px;
  text-align: center;
}

.team h2 {
  color: #67418a;
}

.team .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.team .column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.team-container {
  padding-top: 13px;
}

.team-container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.value {
  background-color: #f5f1fa;
  padding: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.value h2 {
  color: #67418a;
}

.value-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.value-column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.value-card {
  margin: 8px;
}

.value img {
  border-radius: 10%;
}

.value-container {
  padding: 15px;
}

.value-content {
  color: grey;
}

.value-container::after,
.value-row::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 768px) {
  .content-section,
  .image-section {
    text-align: center;
  }

  .brand {
    flex-direction: column;
  }

  .image-section img {
    max-width: 100%;
  }

  .value-row {
    flex-direction: column;
  }

  .value-column {
    width: 100%;
    margin: 10px 0;
  }

  .value-card {
    text-align: center;
  }

  .value-card img {
    max-width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
    margin: 10px 0;
  }

  .card {
    text-align: center;
  }

  .card img {
    max-width: 100%;
  }
}
